<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Profile</title>
</head>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Profile</title>
</head>

<body>
    <nav>
        <div class="menu">
            <div class="logo">
                <a href="#">Silvestre</a>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/profile">About</a></li>
                <li><a href="/works">Projects</a></li>
                <li><a href="/contacts">Contact</a></li>
            </ul>
        </div>
    </nav>
    <div class="bg"></div>
    <div class="text">
        <h1 class="contacts">Contact Me:</h1> 
        <div class="info">
        <p>Email Address: <u class="y"><a class='z' href ='https://mail.google.com/mail/u/1/#inbox?compose=https://mail.google.com/mail/u/1/#inbox?compose=CllgCJvqKRVspjMSCWsKhZBgXhQvvhsmkGFzrgBFbWWSPSjKfNpKFmpDlcWMZdjcQqrMgxnVlkL' target="_blank">czyxiixxxvl@gmail.com</a></u></p> 
        <p><u class="w"><a class="x" href ='https://mail.google.com/mail/u/1/#inbox?compose=GTvVlcSBnNSnsRWxZZPxzRbwdCZsMlpnrGKRwScfnFFfRhhZKPSRVLmmlZzXtPNlDmcBrxRzvmJNv' target="_blank">janallensilvestre@iskolarngbayan.pup.edu.ph</a></u></p>
        <p>Contact Number: <u>09307599415</u></p>
    </div>

    <div class="Buttons">
        <a href ='https://www.facebook.com/czyxiixxxvl?mibextid=ZbWKwL' target="_blank"><img src="static/facebook.png"></a>
        <a href ='https://instagram.com/allnsilvestree?igshid=YzAwZjE1ZTI0Zg==n' target="_blank"><img src="static/instagram.png"></a>
        <a href ='https://www.linkedin.com/in/silvestre-jan-allen-0ab90b284?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app' target="_blank"><img src="static/linkedin.png"></a>
    </div>
    </div>
        
    
</body>

</html>