<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Website Portfolio | Silvestre</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <nav>
        <div class="menu">
            <div class="logo">
                <a href="#">Silvestre</a>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/profile">About</a></li>
                <li><a href="/works">Projects</a></li>
                <li><a href="/contacts">Contact</a></li>
            </ul>
        </div>
    </nav>
    <div class="bg"></div>
    <div class="center">
        <div class="title">Hello, I'm Jan Allen Silvestre</div>
        <div class="sub_title">a sophomore Computer Engineering student at the Polytechnic University of the Philippines.</div>
        <div class="btns">
            <button>Hello, World!</button>
        </div>
    </div>
</body>

</html>