<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Profile</title>
</head>
<body>
    <nav>
        <div class="menu">
            <div class="logo">
                <a href="#">Silvestre</a>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/profile">About</a></li>
                <li><a href="/works">Projects</a></li>
                <li><a href="/contacts">Contact</a></li>
            </ul>
        </div>
    </nav>
    <div class="bg"></div>
    <div class="profile">
        <img src="{{url_for('static', filename='allen.jpg')}}" alt="">
        <p><span>Name: Jan Allen Silvestre</span></p>
        <p><span>Gender: Male</span></p>
        <p><span>Age: 20</span></p>
        <p><span>Location: #47 Sapang Bakaw St. Lawang Bato, Valenzuela City</span></p>
        <p><span>Programming Language: Python, HTML, CSS</span></p>
    </div>
</body>
</html>