<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Profile</title>
</head>

<body>
    <nav>
        <div class="menu">
            <div class="logo">
                <a href="#">Silvestre</a>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/profile">About</a></li>
                <li><a href="/works">Projects</a></li>
                <li><a href="/contacts">Contact</a></li>
            </ul>
        </div>
    </nav>
    <div class="bg"></div>
    <div class="project-container">
        <div class="projects">
            <h1>Projects</h1>
            <ul>
                <li><a href="/uppercase">toUppercase</a></li>
                <li><a href="/circle">Area of Circle</a></li>
                <li><a href="/triangle">Area of Triangle</a></li>
            </ul>
        </div>
    </div>
</body>

</html>